.home-bg{
    /*background-image: url("!../../../../assets/frontend/images/index.jpeg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/

    background-image:
            linear-gradient(to bottom, rgba(999, 999, 999, 1), rgba(999, 999, 999, 0)),
            url('!../../../../assets/frontend/images/index.jpeg');
    width: 80%;
    height: 400px;
    background-size: cover;
    color: white;
    padding: 20px;

}


